/* Estilos base para todas las pantallas */
.inicio {
  position: relative;
  height: 100vh; /* Ajusta la altura al 100% de la altura de la pantalla */
  display: flex;
  align-items: center;
  justify-content: center;
}

.psi__woman {
  position: absolute;
  top: -100px;
  width: 500px;
  height: 500px;
  left: 50%; /* Centra horizontalmente en la pantalla */
  transform: translateX(-50%); /* Centra horizontalmente en la pantalla */
}

.inicio__text {
  position: absolute;
  left: 50%;
  top: 10%;
  width: 90%; /* Ajusta el ancho al 90% del ancho de la pantalla */
  max-width: 500px; /* Establece un ancho máximo para evitar que el contenido se extienda demasiado en pantallas grandes */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font: bold 2rem cursive;
  color: #1b1b1b;
  text-shadow: 2px 2px 4px #eaffc2;
  animation: fade-in 1s;
  line-height: 1.5;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1280px) {
  .inicio__text {
    width: 90%; /* Ajusta el ancho al 90% del ancho de la pantalla */
    max-width: 500px; /* Establece un ancho máximo */
    margin-left: 0;
    top: 10px;
    padding-top: 20px;
  }
  .psi__woman {
    display: none; /* Oculta la imagen en pantallas más pequeñas si es necesario */
  }
}

@media (max-width: 768px) {
  .inicio__text {
    width: 90%;
    max-width: 500px;
    margin-left: 0;
    top: 10px;
    padding-top: 20px;
  }
  .psi__woman {
    display: none;
  }
}

/* Media query para celulares */
@media (max-width: 480px) {
  .inicio__text {
    width: 90%;
    max-width: 300px; /* Ajusta el ancho máximo para pantallas de celular */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    margin-left: 0;
    top: 10px;
  }
  .psi__woman {
    display: none;
  }
}
