/* Estilos para ocultar el menú en pantallas grandes */
.nav__menu-hidden {
    display: none;
  }
  
  /* Estilos para mostrar el menú en pantallas pequeñas */
  .menu-button {
    display: block;
  }
  
  /* Estilos para mostrar el menú al hacer clic en el botón de hamburguesa */
  .nav__menu-hidden.show-menu {
    display: block;
    /* Estilos adicionales según tus necesidades */
  }
  
  /* Estilos para la animación del botón de hamburguesa */
.bar {
    width: 30px;
    height: 3px;
    background-color: #1b1b1b;
    margin: 4px 0;
    transition: 0.4s;
  }
  
  .menu-button.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  
  .menu-button.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .menu-button.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  