.servi__title {
  position: absolute;
  top: 10%; /* Ajusta la posición vertical para pantallas más grandes */
  left: 50%; /* Ajusta la posición horizontal para centrar en la pantalla */
  transform: translateX(-50%); /* Centra horizontalmente */
  transition: color 2s;
  text-shadow: 2px 2px 4px #eaffc2;
  font: bold 3vw cursive; /* Aumenta el tamaño de fuente para pantallas más grandes */
  animation: grow-and-shrink 10s;
  animation-iteration-count: infinite;
  color: #127127;
}

.servi__conteiner {
  position: absolute;
  top: 20%; /* Ajusta la posición vertical para pantallas más grandes */
  left: 10%; /* Ajusta la posición horizontal para pantallas más grandes */
  list-style-type: none;
  margin-top: 2rem; /* Ajusta el margen superior */
  margin-left: 3rem; /* Ajusta el margen izquierdo */
  margin-right: 2rem; /* Ajusta el margen derecho */
}

.servi__t {
  transition: color 2s;
  text-shadow: 2px 2px 4px #eaffc2;
  font: bold 3vw cursive; /* Aumenta el tamaño de fuente para pantallas más grandes */
  text-align: left;
  animation: animTexto 5s;
  color: #127127;
}

.servi-p {
  transition: color 2s;
  text-shadow: 2px 2px 4px #eaffc2;
  font: 2vw cursive; /* Aumenta el tamaño de fuente para pantallas más grandes */
  text-align: left;
  animation: animTexto 5s;
  color: #1b1b1b;
}

/* Consulta de medios para pantallas más grandes */
@media (min-width: 1200px) {
  .servi__title {
    font: bold 2.5vw cursive; /* Tamaño de fuente para pantallas aún más grandes */
  }

  .servi__conteiner {
    top: 10%; /* Ajusta la posición vertical para pantallas aún más grandes */
    left: 25%; /* Ajusta la posición horizontal para pantallas aún más grandes */
  }
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Media query para tablets */
@media screen and (max-width: 768px) {
  .servi__title {
    font-size: 150%; /* Ajusta el tamaño de fuente para pantallas de tablet */
    top: 10%; /* Ajusta la posición vertical para pantallas de tablet */
    left: 10%; /* Ajusta la posición horizontal para centrar en la pantalla */
    transform: translateX(-50%); /* Centra horizontalmente */
  }

  .servi__conteiner {
    top: 20%; /* Ajusta la posición vertical para pantallas de tablet */
    left: 10%; /* Ajusta la posición horizontal */
    right: 10%; /* Ajusta la posición horizontal */
  }

  .servi__t {
    font-size: 120%; /* Ajusta el tamaño de fuente para pantallas de tablet */
  }
}

/* Media query para celulares */
@media (max-width: 480px) {
  .servi__title {
    font-size: 120%; /* Ajusta el tamaño de fuente para pantallas de celular */
    top: 10%; /* Ajusta la posición vertical para pantallas de celular */
    left: 10%; /* Ajusta la posición horizontal para centrar en la pantalla */
    transform: translateX(-50%); /* Centra horizontalmente */
  }

  .servi__conteiner {
    top: 20%; /* Ajusta la posición vertical para pantallas de celular */
    left: 10%; /* Ajusta la posición horizontal */
    right: 10%; /* Ajusta la posición horizontal */
  }

  .servi__t {
    font-size: 100%; /* Ajusta el tamaño de fuente para pantallas de celular */
  }
}
