* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: lato, sans-serif;
}

html,
body {
  background-image: url("./images/fondo.jpg") no-repeat center center fixed;
  background-size: cover;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}

h1 {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 200px;
  left: 50%; /* Alinear en el centro horizontal */
  transform: translateX(-50%); /* Alinear en el centro horizontal */
}

.app {
  text-align: center;
}

/* Media query para tablets y celulares */
@media (max-width: 768px) {
  h1 {
    top: 100px; /* Ajusta la posición para pantallas más pequeñas */
    font-size: 24px; /* Cambia el tamaño de fuente para pantallas más pequeñas si es necesario */
    left: 50%; /* Alinear en el centro horizontal */
    transform: translateX(-50%); /* Alinear en el centro horizontal */
  }
}

/* Media query para celulares */
@media (max-width: 480px) {
  h1 {
    top: 50px; /* Ajusta la posición para pantallas de celulares */
    font-size: 20px; /* Cambia el tamaño de fuente para pantallas de celulares si es necesario */
  }
}
